.catalogo {
  position: relative;
  margin-top: 20rem;
}

.container {
  margin-left: 3rem;
}

.container h3 {
  color: white;
  padding-bottom: 1rem;
}

.lista {
  display: flex;
  gap: 1rem;
  padding-bottom: 3rem;
}

.lista div a img {
  border-radius: 3px;
}

.swiper {
  width: 600px;

}