footer {
  background-color: black;
  padding-left: 3rem;
}

.redes-sociais {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  color: var(--text-2);
}

.codigo {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.codigo a {
  border: 2px solid var(--text-2);
  padding: 0.7rem;
}