footer {
  background-color: black;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.redes-sociais {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin-bottom: 2rem;
}

.info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  flex-wrap: wrap;
}

.info ul li {
  padding-bottom: 1rem;
}

.info ul li a:hover {
  color: white;
  transition: 0.2s ease-in-out;
}

p {
  color: var(--text-2);
}

.codigo {
  margin-top: 3rem;
  margin-bottom: 3rem;
}

.codigo a {
  border: 2px solid var(--text-2);
  padding: 0.7rem;
}

.codigo a:hover {
  border: 2px solid white;
  color: white;
  transition: 0.2s ease-in-out;
}

@media (max-width:950px) {
  .info {
    grid-template-columns: 1fr 1fr;
  }
  .info ul {
    margin-bottom: 2rem;
  }
}

@media (max-width:540px) {
  .info {
    grid-template-columns: 1fr;
  }
}