.paginas {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 3rem 2rem;
}

.menu {
  display: flex;
  gap: 50px;
  align-items: center;
}

ul {
  display: flex;
  list-style-type: none;
}

.menu li + li {
  padding-left: 0.9rem;
}

.menu nav a {
  text-decoration: none;
  color: var(--text-1);
}

.menu nav a::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background-color: var(--text-1);
  transition: width 0.2s ease;
}

.menu nav a:hover::after {
  width: 100%;
}

.perfil {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.perfil div {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.perfil div img:first-child {
  border-radius: 3px;
}

.menu-toggle {
  display: none;
}

/*styles para menu dropdown*/
@media (max-width: 800px) {
  .paginas .menu nav ul {
    display: none;
  }
  .paginas .menu nav ul.show {
    display: block;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    width: 100%;
    z-index: 1;
  }
  .paginas .menu nav ul.show li {
    display: block;
    margin-right: 0;
  }
  .menu-toggle {
    display: block;
    background-color: transparent;
    font-weight: 500;
    color:var(--text-1);
    font-size: 20px;
    padding: 0.6rem 0.4rem;
    gap: 0.5rem;
    border: solid transparent;
    border-radius: 3px;
  }
  .menu-toggle:hover{
    border: white solid 2px;
    color: white;
  }
}
